@inherits LayoutComponentBase
<div class="error">
    <p></p>
</div>
<div class="refresh">
    <button class="send" type="button" onclick="document.location.reload()">Odśwież</button>
</div>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

