@inherits LayoutComponentBase
<div class="error">
    <p></p>
</div>
<div class="refresh">
    <button class="send" type="button" onclick="document.location.reload(true)">Odśwież</button>
</div>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
