@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime;

<DiceTable @bind-SessionId="SessionId" @bind-AutoRefresh="autoRefresh" />
@*<input type="checkbox" id="autoRefresh" @onchange="args => { CheckboxChanged(args.Value); }" />*@
<input class="checkbox" type="checkbox" id="autoRefresh" @bind="autoRefresh" />
<label class="checkbox" for="autoRefresh">autoodświeżanie</label>
@*<button @onclick="TestChange">Zmiana</button>*@

@code {
    [Parameter]
    public int SessionId { get; set; }

    private bool _autoRefresh = false;

    private bool autoRefresh
    {
        get
        {
            //_autoRefresh = JSRuntime.InvokeAsync<bool>("blazorCookies.readRefreshCookie", null).Result;
            return _autoRefresh;
        }
        set
        {
            _autoRefresh = value;
            JSRuntime.InvokeAsync<bool>("blazorCookies.writeRefreshCookie", new object[] { _autoRefresh });
        }
    }

    //private void TestChange()
    //{
    //    autoRefresh = !autoRefresh;
    //}

    protected override async Task OnAfterRenderAsync(bool isFirst) //OnInitializedAsync()
    {
        if (isFirst)
        {
            await GetAutoRefresh();
            StateHasChanged();
        }
    }

    private async Task GetAutoRefresh()
    {
        var result = await JSRuntime.InvokeAsync<bool>("blazorCookies.readRefreshCookie", null);
        autoRefresh = result;
    }

    //private async Task SetAutoRefresh(bool value)
    //{
    //    await JSRuntime.InvokeAsync<bool>("blazorCookies.writeRefreshCookie", new object[] { value });
    //}

    //private void CheckboxChanged(object isChecked)
    //{
    //    autoRefresh = (bool)isChecked;
    //    SetAutoRefresh(autoRefresh);
    //}
}
