<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script>
    window.sessionStorageInterop = {
        setItem: function (key, value) {
            sessionStorage.setItem(key, value);
        },
        getItem: function (key) {
            return sessionStorage.getItem(key);
        },
        removeItem: function (key) {
            sessionStorage.removeItem(key);
        }
    };
    
    window.JSDOMInterop = {
        copyAppUrl: async function () {
            const  url = window.location.href;
            await  navigator.clipboard.writeText(url);
        }
    };
</script>
</body>

</html>
