<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script>
    window.sessionStorageInterop = {
        setItem: function (key, value) {
            sessionStorage.setItem(key, value);
        },
        getItem: function (key) {
            return sessionStorage.getItem(key);
        },
        removeItem: function (key) {
            sessionStorage.removeItem(key);
        }
    };

    function copyUrl() {
        const ele = document.createElement('textarea');
        ele.value = window.location.href;
        ele.setAttribute('readonly', true)
        // Following styling is to avoid flashing textarea on screen
        ele.style.position = 'absolute';
        ele.style.padding = 0;
        ele.style.background = 'transparent';
        ele.style.outline = 'none';
        ele.style.left = '-100%';
        document.body.appendChild(ele);
        ele.select();
        document.execCommand('copy');
        document.body.removeChild(ele);
    }
</script>
</body>

</html>
