body {
    background: linear-gradient(to right, #00ff00 0%, #96ffc8 70%, #00b6ff 100%);
}

main {
    clear: both;
    text-align: center;
}

    main p {
        margin-left: 5%;
        margin-right: 5%;
        font-size: large;
        text-align: justify;
        text-justify: inter-word;
    }

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid;
    font-size: 16px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}

    td.first {
        border: none;
        font-size: 12px;
        text-align: right;
    }

div.error {
    float: left;
    text-align: left;
    width: 50%;
}

    div.error p {
        font-size: larger;
        font-weight: bold;
        color: red;
    }

div.refresh {
    text-align: right;
    float: left;
    width: 50%;
}

footer p {
    text-align: left;
}

.send {
    font-size: 16px;
    margin-inline: 3px;
}

input.send {
    width: 40px;
}

select.send {
    width: 60px;
}

.updown {
    font-size: 18px;
    margin-inline: 5px;
}

.checkbox {
    margin-top: 15px;
    margin-bottom: 15px;
}