@using DiceRolls.Services.ErrorMessage

@inject IErrorMessageService ErrorMessageService

<div class="error">
    <p>@_errorMessage</p>
</div>

@code
{
    [Parameter] public required string SessionId { get; set; }
    private string _errorMessage = "";
    private Timer? _timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        // ErrorMessageService.AddGlobalEventToWatch(HandleGlobalEvent);
        ErrorMessageService.AddSessionEventToWatch(HandleSessionEvent, SessionId);
    }

    private void HandleGlobalEvent()
    {
        _errorMessage = ErrorMessageService.GetGlobalErrorMessage();
        InvokeAsync(StateHasChanged);
    }
    
    private void HandleSessionEvent()
    {
        _errorMessage = ErrorMessageService.GetSessionErrorMessage(SessionId);
        _timer = new Timer(MessageReset, null, TimeSpan.FromSeconds(5), Timeout.InfiniteTimeSpan);
        InvokeAsync(StateHasChanged);
    }

    private void MessageReset(object? state)
    {
        _errorMessage = "";
        InvokeAsync(StateHasChanged);
        _timer?.Dispose();
    }
}